<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Cadastro de Aluno</title>
		
		<link rel="stylesheet" href="/bootstrap-4.0.0/css/bootstrap.min.css" />
		<script src="/bootstrap-4.0.0/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<div class="page-header">
					<h1 th:text="${tituloDaPagina}"></h1>
				</div>
			</div>
			<div class="row">
				<form action="#" th:action="@{/alunos/salvar}" th:object="${aluno}" method="POST">
					<div class="form-group"> 
						<input type="hidden" th:field="*{id}"/>
					
						<label for="nome">Nome</label>
						<input type="text" id="nome" th:field="*{nome}" required="required"
							placeholder="Nome" class="form-control"/>
						
						<label for="curso">Curso</label>
						<input type="text" id="curso" th:field="*{curso}" required="required" 
							placeholder="Curso" class="form-control"/>
						
						<label for="matricula">Matrícula</label>
						<input type="text" id="matricula" th:field="*{matricula}" required="required" 
							placeholder="Matrícula" class="form-control"/>
						
						<label for="semestre">Semestre</label>
						<input type="number" id="semestre" th:field="*{semestre}" required="required" 
							placeholder="Semestre" class="form-control"/>
						
						<label for="status">Status</label>
						<select th:field="*{status}" th:remove="all-but-first" required="required" class="form-control">
			                <option th:each="status : ${listaDeStatus}"
			                        th:value="${status}" th:text="${status}"/>
			            </select>
			            
						<br/>
						<a href="/alunos" class="btn btn-primary">Cancelar</a>
						<button type="submit" class="btn btn-success">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>